@import '~reseter.css';
@import './sass/_vars.scss';
@import './sass/_base.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
  background-color: #151b24;
  padding: 5%;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.output {
  width: 50%;
  resize: none;
  border-radius: 5px;
  background-color: #a9acad;
}

  .keys-wrapper {
    padding: 10px;
    display: grid;
    gap: 5px;
    background-color: #272d3b;
    border-radius: 10px;
  }

  .keyboard-row {
    display: flex;
    gap: 5px;
  }

.key {
  position: relative;
    background-color: #b7b8bd;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 16px;
    color: #000;
    cursor: pointer;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    min-width: 65px;
    align-items: center;
    padding: 18px 24px;
    height: 65px;
    box-sizing: border-box;
    border: 1px solid black;
    transition: all ease .5s;
  }

  .key:hover {
    background-color: yellow;
  }

.wide-btn {
  width: 100%;
}

.functional-btn {
  background-color:  #8b8e96
}

.colored {
  background-color: #97c6cc;
}

.arrow-btn {
  background-color: #6f6e74;
}

.btn-backspace {
}

.btn-caps-lock {
  min-width: 150px;
}

.btn-enter {
  min-width: 170px;
}

.btn-shift-right {
  max-width: 135px;
}

.bottom {
  position: absolute;
  top: 5px;
  left: 10px;
}

.active {
  background-color: yellowgreen;
}